@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> signInManager
@if (signInManager.IsSignedIn(User))
{
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="nav-link text-white">Hello, @User.Identity.Name!</li>
            <li><a class="nav-link text-white logOutButton" href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
            @*<li><button class="btn-danger" type="submit">logOut</button></li>*@
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav">
        <li class="nav-item">
            @*@Html.ActionLink("Sign Up", "Register", "Account",
                routeValues: null, htmlAttributes: new { id="registeredLink"})*@
            <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        
        <li class="nav-item">
            @*@Html.ActionLink("Sign In", "Login", "Account",
        routeValues: null, htmlAttributes: new { id = "loginLink" })*@
            <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Log In</a>
        </li>
    </ul>
}

@section Scripts
{
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on("click", ".logOutButton", function (event) {
                console.log("woowow");
                event.preventDefault();
                var form = $(this).closest('form');
                var actionUrl = form.attr('action');

                $.ajax({
                    url: actionUrl,
                    type: 'POST',
                    data: new FormData(document.getElementById("request_form")),
                    processData: false,
                    contentType: false,
                    success: function (data) {
                    }
                });
        })
    </script>
}
